 body {
    background-color: #252525;
    font-size: 100%;
    color: #efefef;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.inicio {
    background-color: #353535;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

p {
    text-indent: 2.5em;
    margin-left: 1em;
    margin-bottom: 1.5em;
    max-width: 900px;
}

@media (min-width: 768px) {
    p {
        font-size: 1.125rem;
    }
}

@media (min-width: 1024px) {
    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
}

header {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

blockquote {
    text-align: center;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
    padding: 10px 20px;
    margin: 20px auto;
    max-width: 600px;
}


.main blockquote p {
  color: orange;
}

header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.main {
    display: block;
    background: blue;
    width: 100%;
    font-family: monospace;
    margin: 0 auto; /* Centra el contenedor principal */
    padding: 0;
    height: auto;
    overflow: auto;
    max-width: 1000px; /* Ancho máximo para el contenido principal */
}

.main em {
    color: pink;
    margin: 0 3px;
}

.main ul {
    width: 100%;
    margin: 1em auto;
    padding: 10px;
    list-style-type: none;
}
.main p {
    color: #fff;
    padding: 20px;
    max-width: 900px; /* Ancho para los párrafos dentro del main */
    margin: 0 auto; /* Centra los párrafos */
}

.titulo {
    text-align: center;
    color: #eee;
    margin: 1px 2px;
   -webkit-text-stroke: .8px #ff0000;

}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #121212;
    color: #eee;
    padding: 10px 0;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}

/* Inicio de marqee */
.marquee {
    font-family: monospace;
    color: orange;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.nav-menu {
    display: block;
    padding: 10px 20px; /* Unidad de medida agregada */
    margin: 0 auto;
    width: 250px;
    background-color: #101010;
    border: 1px solid #ccc;
    border-radius: 10%;
}

.nav-menu li {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}

.nav-menu li:last-child {
    border-bottom: none;
}

.nav-menu li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
}

.nav-menu li a:hover {
    background-color: green;
    color: #eee;
}

.caja-especial {
    background-color: blue;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 20px auto; /* Centra la caja */
    padding: 20px;
    border: 1px solid wheat;
    text-align: center;
    border-radius: 20px;
    max-width: 600px; /* Establece un ancho máximo */
}

.caja-especial h2 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .caja-especial h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .caja-especial h2 {
        font-size: 3rem;
    }
}

#latido {
    animation-name: latido;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: blue;
    color: white;
    padding: 10px;
    display: inline-block;
}

@keyframes latido {
    0% {
        transform: scale(1);
        color: white;
    }
    50% {
        transform: scale(1.15);
        color: red;
    }
    100% {
        transform: scale(1);
        color: white;
    }
}

